PORT = 8000
MONGODB_URI = mongodb+srv://your-username:your-password@cluster0.dakhgge.mongodb.net

ACCESS_TOKEN_SECRET= YOUR_TOKEN
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET= GENERATE_YOUR_TOKEN
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_API_KEY = YOUR_CLOUDINARY_API_KEY
CLOUDINARY_CLOUD_NAME = YOUR_CLOUD_NAME
CLOUDINARY_API_SECRET = YOUR_API_SECRET